<IfModule mod_headers.c>
    # Desactivar caché radicalmente para archivos de desarrollo web
    <FilesMatch "\.(html|htm|js|css|json|png|jpg|jpeg|gif|svg)$">
        Header set Cache-Control "no-cache, no-store, must-revalidate, max-age=0"
        Header set Pragma "no-cache"
        Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
    </FilesMatch>
</IfModule>
